
.items ul{
    list-style-type: none; 
    display: flex;
    font-size: 0.1rem;
}
nav ul li {
    display: inline-block;
    margin: 0.05rem 0.05rem;
    
}

nav ul li a{
    text-decoration: none;
    font-size: 0.6rem;
    margin: 0;
    padding: 0.2rem 0.2rem;
    color: whitesmoke;
}
nav ul li a:hover{
    color: black;
    background-color: whitesmoke;
    font-size: 0.8rem;
    box-shadow: 0 0 2px cyan,
                0 0 2px cyan;
    border-radius: 0.6rem;
    
}
.logo img{
    width: 5rem;
}

.container::before{
    content: "";
    position: absolute;
    background: url('background-layer.png') no-repeat center/cover;
    height: 100vh;
    width: 100vw;
    /* background-size: 100% 100%; */
    z-index: -1;
    opacity: 0.95;
}



.about-cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        text-align: center;
}
.about-cards-text{
    text-align: center;

}                              

.awards-cards {
    
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    grid-gap: 2rem;
}

.content-contact{
    display: grid;
    grid-template-columns: 1fr  ;
    grid-gap: 1rem;
}
