::-webkit-scrollbar{
    display: none;
}

*{  
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: #000000; */
}

body{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(247, 244, 238);
}

/* navigation bar */

/* navigation bar */

#navbar{
    display: flex;
    width: 100vw;
    height: 10vh;
    position: fixed;
    color: #0a0a0a;
    align-items: center;
    z-index: 20;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    border-bottom: 1px solid rgb(215, 231, 231);
    box-shadow: 0 0 5px rgba(127, 240, 240, 0.842),
                0 0 5px rgba(127, 240, 240, 0.842); 
}

/* navigation bar : logo and unordered list*/

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;  
}

.logo img{
    width: 8rem;
}

.items{
    display: flex;
    justify-content: center;
    
    width: 70vw;
}
.items ul{
    /* width: 50vw; */
    list-style-type: none; 
    float: left;
    
}

nav ul li{
    display: inline-block;
    margin: 0.5rem 0.5rem;
    padding: 0rem 0.5rem;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.4rem 0.6rem;
    color: whitesmoke;
}

nav ul li a:hover{
    color: black;
    background-color: whitesmoke;
    font-size: 1.3rem;
    box-shadow: 0 0 7px cyan,
                0 0 7px cyan;
    border-radius: 1rem;
    
}
/* All pages Body and Heading */

.page-body{
    position: relative;
    top: 10vh;
}

.page-heading{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0.1rem;
    padding: 0.5rem;
    color: green;
}

    /* HOME page content */

.container::before{
    content: "";
    position: absolute;
    background: url('background-layer.png') no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    z-index: -1;
    opacity: 0.95;
}

.container{
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-flow: column;
 align-items: center;
 justify-content: center; 
}

.content{
    font-size: 1.5rem;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    align-content: center;
    color: white;
}

.content a{
    text-align: center;
    text-decoration: none;
    color: white;  
}

/* about page content and cards */

.about-content{
    font-size: 1.3rem;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 1rem 1rem;
    padding: 1rem;
    text-align: center;
    align-content: center;
}

.about-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    /* border: 2px solid red; */
    /* margin: 4.4rem 1rem;  */
}
.about-cards-details{
    display: flex;
    flex-flow: column;
    /* border: 2px solid red; */
    transition: 0.8s;
    margin: 10px 10px;
    padding: 10px;
    /* border: 2px solid black; */
    border-radius: 1rem;
    
}

.about-cards-image{
    display: flex;
    height: 350px;
    justify-content: center;  
}
.about-cards-image img{
    width: 90%;
    height:350px;
    transition: 1s;
    
}
.about-cards-text{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5px 0px;
    
}
.about-cards-text > h2{

    height: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    /* text-underline-offset: ; */
}
.about-cards-text > p{

    text-align: left;
    font-size: 1rem;
    padding: 10px 10px;
}

.about-cards-details:hover{
    border: 0.2rem solid black;
    background-color: rgba(241, 240, 240, 0.938);
    box-shadow: 0 0 7px rgba(241, 240, 240, 0.938),
                0 0 7px rgba(241, 240, 240, 0.938);
    border-radius: 10px;
    background-color: blanchedalmond;
}
.about-cards-image img:hover{
   
    width: 100%;  
}


/* award page content and cards */


.content-awards-cards{
    margin: 0rem 0.5rem ;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1rem;
}
.awards-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-bottom: 6rem;
    margin-top: 1rem;
    
}
.awards-cards-details{
     
    align-content: center;
    justify-content: center;
    border: 2px solid whitesmoke;
    border-radius: 1rem;
    transition: 0.8s;
    margin: 1rem;
}
.awards-cards-image img{
    width: 100%;
    height:300px;
    transition: 1.5s;
}
.awards-cards-details:hover, .awards-cards-details.active{
    border: 0.2rem  solid black;
    background-color:blanchedalmond;
    box-shadow: 0 0 3px rgb(252, 242, 197),
                0 0 3px rgb(252, 242, 197);
    border-radius: 10px;
    
}
.awards-cards-text h3{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.awards-cards-text p{
    width: 90%;
    font-size: 0.8rem;
    text-align: center;
    /* border: 2px solid black; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px;

}
.awards-hr{
    position: relative;
    width: 50%;
    left: 25%;
    right: 25%;
    margin: 5px;
    opacity: 40%;
}

    /* contact us */

.content-contact{
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    
    
}
.content-contact > div{
    /* border: 2px solid red; */
    margin: 0 2rem;
    
}
.address-details{
    display: flex;
    flex-flow: column;
}
.address-details div{
    margin: 2rem 0;
}
.address-details h3{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -1rem;
    margin-left: 1rem;
    padding:rem;
}
.address-details h4{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.5rem;
}
.address-details p{
    font-size: 1rem;
    font-family: cursive;
    margin: 0.3rem 1rem;
    padding: 0.5rem;
    padding-left: 0.6rem;
}
.fas{
    color: black;
    font-size: 2rem;
}

/* footer */

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: green;
}
.copyright{
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    text-align: left;
    margin: 1rem;

}
.social-media{
    display: flex;
    flex-direction: row-reverse;
}
.fab{
    font-size:2rem;
    margin: 0.3rem;
    color: black;
    
}
.social-media>div i{
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    border: 2px solid green;
    border-radius:1.5rem; 
    cursor: pointer;
    transition: 0.5s;
    
}

.social-media>div i:hover{
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px whitesmoke,
                0 0 10px whitesmoke; 
}
@media only screen and (max-width:1000px){

    .content-contact{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        background-color: #0000;;
    
    }

}
